<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Chompanion</title>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script|Oxygen' rel='stylesheet' type='text/css'>
    <link href="/static/960_16_col.css" rel='stylesheet' type='text/css'>
    <link href="/static/text.css" rel='stylesheet' type='text/css'>
    <link href="/static/datePicker.css" rel='stylesheet' type='text/css'>
    <!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <!-- required plugins -->
    <script type="text/javascript"  src="/static/date.js"></script>
    <!--[if IE]><script type="text/javascript" src="/scripts/jquery.bgiframe.js"></script><![endif]-->
    <!-- jquery.datePicker.js -->
    <script type="text/javascript" src="/static/jquery.datePicker.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(function()
        {
            $('.date-pick').datePicker({autoFocusNextInput: true});
        });
    </script>
</head>

<body>
<div class="container_16">
    <div class="grid_16 header"><h1>TITULO</h1></div>
    <div class="clear"></div>
{% if bio %}
    <div class="grid_16 header">
        <div id="username"><h3>{{ bio[0].user.nickname() }}</h3></div>
    </div>
    <div class="clear"></div>
    <div class="grid_1"></div>
    {% if entries %}
        <!--<ul>-->
    <form action="/delete" method="post">
            {% for entry in entries %}

                {% if loop.length > 7 %}
                    {% if loop.index > 1%}
        <div class="grid_2 data"><h3>{{ entry.weight | escape }}</h3><p>{{ entry.date | escape }}</p>
            <input type="hidden" value="{{entry.date}}" name="delData">
            <input class="del_button" type="submit" value="" >
        </div>
                    {% endif %}
                {% else %}
                    {% if loop.index > 1%}
                    <div class="grid_2 data"><h3>{{ entry.weight | escape }}</h3><p>{{ entry.date | escape }}</p>
                        {% if entry.weight > entries[loop.index-2].weight %}
                        <p class="pos" id="po">{{entry.weight - entries[loop.index-2].weight}}</p>
                        {% else %}
                        <p class="neg" id="ne">{{entry.weight - entries[loop.index-2].weight}}</p>
                        {% endif %}
                    <input type="hidden" value="{{entry.date}}" name="delData">
                    <input class="del_button" type="submit" value="" >
                    </div>
                    {% else %}
                    <div class="grid_2 data"><h3>{{ entry.weight | escape }}</h3><p>{{ entry.date | escape }}</p><p style="font-size: 0.9em;">0.0</p>
                    <input type="hidden" value="{{entry.date}}" name="delData">
                    <input class="del_button" type="submit" value="" >
                    </div>
                    {% endif %}

                {% endif %}




            {% endfor %}
        <!--</ul>-->
    {% endif %}
    </form>
    <div class="grid_1"></div>
    <div class="clear"></div>
    <div class="grid_16 ending"></div>
    <div class="clear"></div>
    <form action="/log" method="post">
        <div class="grid_4 bottom">Altura:<input value="{{ bio[0].height }}" name="height"></div>
        <div class="grid_4 bottom">Objetivo:<input value="{{ bio[0].target }}" name="target"></div>
        <div class="grid_4 bottom">Peso:<input value="" name="weight"></div>
        <div class="grid_4 bottom">Fecha:<input class="date-pick" value="" name="date"></div>
        <div class="grid_16 ending"><input type="submit" value="Log"></div>
    </form>
{% elif entries %}
    {% for entry in entries %}
        <div><p>{{ entry.weight | escape }}|{{ entry.date | escape }}</p></div>
    {% endfor %}
    <form action="/log" method="post">
        <div class="inputs">Altura:<input value="" name="height"></div>
        <div class="inputs">Objetivo:<input value="" name="target"></div>
        <div class="inputs">Peso:<input value="" name="weight"></div>
        <div class="inputs">Fecha:<input class="date-pick" value="" name="date"></div>
        <div><input type="submit" value="Log"></div>
    </form>
{% else %}
    <form action="/log" method="post">
        <div class="inputs">Altura:<input value="" name="height"></div>
        <div class="inputs">Objetivo:<input value="" name="target"></div>
        <div class="inputs">Peso:<input value="" name="weight"></div>
        <div class="inputs">Fecha:<input class="date-pick" value="" name="date"></div>
        <div><input type="submit" value="Log"></div>
    </form>
{% endif %}

<a href="{{ url }}">{{ url_linktext }}</a>
</div>
</body>
</html>