<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Chompanion</title>


    <link href='http://fonts.googleapis.com/css?family=Oleo+Script|Oxygen' rel='stylesheet' type='text/css'>
    <link href="/static/960_16_col.css" rel='stylesheet' type='text/css'>
    <link href="/static/text.css" rel='stylesheet' type='text/css'>
    <link href="/static/jquery-ui.css" rel='stylesheet' type='text/css'>
    <!-- jQuery -->
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <!-- required plugins -->
    <script type="text/javascript"  src="/static/date.js"></script>
    <!--[if IE]><script type="text/javascript" src="/scripts/jquery.bgiframe.js"></script><![endif]-->
    <!-- jquery.datePicker.js -->
    <script type="text/javascript" src="/static/jquery.datePicker.js"></script>
    <!-- JqPlot -->


    <script type="text/javascript" src="/static/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.cursor.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.dragable.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.trendline.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" hrf="/static/jquery.jqplot.min.css" />
    <script type="text/javascript" charset="utf-8">
        $(function(){
            var pickerOpts = {
                dateFormat:"dd/mm/yy"
            };
            $("#datepicker").datepicker(pickerOpts);
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            $.jqplot.config.enablePlugins = true;
            s1 = [
                {% if entries %}
                    {% for entry in entries %}
                        {% if loop.last %}
                            ['{{ entry.date | escape }}',{{ entry.weight | escape }}]
                        {% else %}
                            ['{{ entry.date | escape }}',{{ entry.weight | escape }}],
                        {% endif %}
                    {% endfor %}
                {% endif %}

            ]
            plot1 = $.jqplot('chart1',[s1],{
                title: 'Peso y Tendencia',
                axes: {
                    xaxis: {
                        renderer: $.jqplot.DateAxisRenderer,
                        tickOptions: {
                            formatString: '%#d/%#m/%y'
                        },
                        numberTicks: 10
                    },
                    yaxis: {
                        tickOptions: {
                            formatString: '%.3P'
                        }
                    }
                },
                highlighter: {
                    sizeAdjust: 10,
                    tooltipLocation: 'n',
                    tooltipAxes: 'y',
                    useAxesFormatters: false
                },
                cursor: {
                    show: false
                }
            });
        });
    </script>

</head>

<body>
<div class="container_16">
    <div class="grid_16 header"><h3>TITULO</h3></div>
    <div class="clear"></div>
{% if bio %}
    <div class="grid_16 header">
        <div id="username"><p>{{ bio[0].user.nickname() }} | <a href="{{ url }}">{{ url_linktext }}</a></p>
        <p>
            <div id="chart1" style="height:300px;width:900px; "></div></p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="grid_1"><p></p></div>
    {% if entries %}
        <!--<ul>-->
    <form action="/delete" method="post">
            {% for entry in entries %}

                {% if loop.length > 7  %}
                    {% if loop.index > 1 and loop.index < 9%}
        <div class="grid_2 data"><h3>{{ entry.weight | escape }}</h3><p>{{ entry.date | escape }}</p>
            {% if entry.weight > entries[loop.index-2].weight %}
            <p class="pos" id="po">{{entry.weight - entries[loop.index-2].weight}}</p>
            {% else %}
            <p class="neg" id="ne">{{entry.weight - entries[loop.index-2].weight}}</p>
            {% endif %}
            <input type="hidden" value="{{entry.date}}" name="delData">
            <input class="del_button" type="submit" value="" >
        </div>
                    {% endif %}
                {% else %}
                    {% if loop.index > 1%}
                    <div class="grid_2 data"><h3>{{ entry.weight | escape }}</h3><p>{{ entry.date | escape }}</p>
                        {% if entry.weight > entries[loop.index-2].weight %}
                        <p class="pos" id="po">{{entry.weight - entries[loop.index-2].weight}}</p>
                        {% else %}
                        <p class="neg" id="ne">{{entry.weight - entries[loop.index-2].weight}}</p>
                        {% endif %}
                    <input type="hidden" value="{{entry.date}}" name="delData">
                    <input class="del_button" type="submit" value="" >
                    </div>
                    {% else %}
                    <div class="grid_2 data"><h3>{{ entry.weight | escape }}</h3><p>{{ entry.date | escape }}</p><p style="font-size: 0.9em;">0.0</p>
                    <input type="hidden" value="{{entry.date}}" name="delData">
                    <input class="del_button" type="submit" value="" >
                    </div>
                    {% endif %}

                {% endif %}




            {% endfor %}
        <!--</ul>-->
    {% endif %}
    </form>
    <div class="grid_1"><p></p></div>
    <div class="clear"></div>
    <div class="grid_16 ending"></div>
    <div class="clear"></div>
    <form action="/log" method="post">
        <div class="grid_2 "><p></p></div>
        <div class="grid_2 bottom" id="alt"><p ><input value="{{ bio[0].height }}" name="height"></p></div>
        <div class="grid_2 bottom" id="obj"><p><input value="{{ bio[0].target }}" name="target"></p></div>
        <div class="grid_2 bottom" id="pes"><p><input value="" name="weight"></p></div>
        <div class="grid_2 bottom" id="dat"><p><input id="datepicker" type="text" name="date"></p></div>
        <div class="grid_2 bottom" id="bmi"><p><input value="{{ entries[0].weight / ((bio[0].height/100)*(bio[0].height/100))}}" name="bmi"></p></div>
        <div class="grid_2 bottom"><p><input type="submit" value="Log"></p></div>
        <div class="grid_2 "><p></p></div>
        <div class="grid_16 ending"></div>
    </form>
{% elif entries %}
    {% for entry in entries %}
        <div><p>{{ entry.weight | escape }}|{{ entry.date | escape }}</p></div>
    {% endfor %}
    <form action="/log" method="post">
        <div class="inputs">Altura:<input value="" name="height"></div>
        <div class="inputs">Objetivo:<input value="" name="target"></div>
        <div class="inputs">Peso:<input value="" name="weight"></div>
        <div class="inputs">Fecha:<input class="date-pick" value="" name="date"></div>
        <div><input type="submit" value="Log"></div>
    </form>
{% else %}
    <form action="/log" method="post">
        <div class="inputs">Altura:<input value="" name="height"></div>
        <div class="inputs">Objetivo:<input value="" name="target"></div>
        <div class="inputs">Peso:<input value="" name="weight"></div>
        <div class="inputs">Fecha:<input class="date-pick" value="" name="date"></div>
        <div><input type="submit" value="Log"></div>
    </form>
{% endif %}


</div>

</body>
</html>