<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Chompanion</title>
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script|Oxygen' rel='stylesheet' type='text/css'>
    <link href="/static/960_16_col.css" rel='stylesheet' type='text/css'>
    <link href="/static/text.css" rel='stylesheet' type='text/css'>
    <link href="/static/jquery-ui.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.min.css"/>
    <!-- jQuery -->
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui.min.js"></script>
    <!-- jQplot -->
    <script type="text/javascript" src="/static/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.cursor.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jqplot.trendline.min.js"></script>
    <!-- JsRender & JsView TODO: Minifi-->
    <script type="text/javascript" src="/static/jsrender.js"></script>
    <script type="text/javascript" src="/static/jquery.views.js"></script>
    <script type="text/javascript" src="/static/jquery.observable.js"></script>

    <!-- ReST Put & Delete Methods Extensions for jQuery -->
    <script type="text/javascript">
        function _ajax_request(url, data, callback, type, method) {
            if (jQuery.isFunction(data)) {
                callback = data;
                data = {};
            }
            return jQuery.ajax({
                type: method,
                url: url,
                data: data,
                success: callback,
                dataType: type
            });
        }

        jQuery.extend({
            put: function(url, data, callback, type) {
                return _ajax_request(url, data, callback, type, 'PUT');
            },
            delete_: function(url, data, callback, type) {
                return _ajax_request(url, data, callback, type, 'DELETE');
            }
        });
    </script>
<!-- Date Picker Formatter -->
    <script type="text/javascript" charset="utf-8">
        $(function () {
            var pickerOpts = {
                dateFormat:"dd/mm/yy"
            };
            $("#datepicker").datepicker(pickerOpts);
        });
    </script>
<!-- jQueryUI Tabs component -->
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>

    <script type="text/javascript">
        jQuery.extend({
            getValues: function(url) {
                var result = null;
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType:'json',
                    async: false,
                    success: function(data) {
                        result = data;
                    }
                });
                return result;
            }
        });
    </script>
    <!-- hacer una sola llamada a entry week -->
    <script type="text/javascript" charset="utf-8">
        jQuery.extend({
            renderEntryList:function(){
                var results = $.getValues("http://localhost:8080/users/{{ nick }}/entry-week")
                $("#elist").html(
                        $("#entryListTemplate").render(results.reverse())
                );

            }
        });
    </script>
    <script type="text/javascript" charset="utf-8">

        jQuery.extend({
            drawChart:function(){
            var line = [];
            $.getJSON("http://localhost:8080/users/{{ nick }}/entry-week",function(data){
                $.each(data,function(index){
                    line.push([data[index].date+' 0:00 AM',parseFloat(data[index].weight)])

                });

                    $.jqplot.config.enablePlugins = true;

                s1 = [line]
                plot1 = $.jqplot('chart1', s1, {
                    title:'Default Date Axis',
                    axes:{
                        xaxis:{
                            renderer:$.jqplot.DateAxisRenderer,
                            tickOptions:{
                                formatString:'%#d/%#m'
                            },
                            numberTicks:9
                        }

                    },
                    series:[{lineWidth:5, markerOptions:{style:'circle'}}]
                });
        });
            }})

    </script>
    <script type="text/javascript" charset="utf-8">
        jQuery.extend({
            renderBioData:function(){
                var results = $.getValues("http://localhost:8080/users/{{ nick }}/");
                $('body').data('target',results[0].target);
                $('body').data('height',results[0].height);
                $('#in_alt').val($('body').data('height'));
                $('#in_obj').val($('body').data('target'))
            }
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $.drawChart()
            $.renderBioData()
        });
    </script>

</head>
<body>
<div class="container_16">
    <div class="grid_16 header">
        CHOMPanion | <b>{{ nick }} | </b><a href="{{ url }}">{{ url_linktext }}</a>
    </div>

    <div class="clear"></div>
        <div id="tabs" class="grid_16 header">

            <div id="username">
                <ul>
                    <li><a href="#chart1">Grafico</a></li>
                    <li><a href="#tabs-2">Estadisticas</a></li>
                </ul>
            <!-- TODO:Reemplazar la lógica por JQuery-->
                    <p><div id="chart1" style="height:300px;width:900px; "></div></p>
                    <p><div id="tabs-2"><img src="/static/PlaceholderST.jpg" width="900" height="300"></div></p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="grid_1"><p></p></div>
    <script id="entryListTemplate" type="text/x-jsrender">
        <div class="grid_2 data">
            {% raw %}
            <h3>{{:weight}}</h3>
            <p>{{:date}}</p>
            <p class="pos" id="po">{{:variance}}|{{:bmi}}</p>
            {% endraw %}
        </div>
    </script>
    <div id="elist"></div>
        <script type="text/javascript">
            $.renderEntryList()
        </script>


        <div class="grid_1"><p></p></div>
        <div class="clear"></div>
        <div class="grid_16 ending"></div>
        <div class="clear"></div>

            <div class="grid_2 "><p></p></div>
        <form action="/users/{{ nick }}/" id="bioPost">
            <div class="grid_2 bottom" id="alt"><p><input id="in_alt" type="text"  name="height" value=""></p></div>
            <div class="grid_2 bottom" id="obj"><p><input id="in_obj" type="text" name="target" value=""></p></div>
        </form>
        <script>
            $('#bioPost').change(function() {
                event.preventDefault();
                var $form = $( this ),
                        height = $form.find( 'input[name="height"]' ).val(),
                        target = $form.find( 'input[name="target"]' ).val(),
                        url = "/users/{{ nick }}/"/*$form.attr( 'action' );*/
                $.post( url,{ height: height, target:target });

            });
        </script>
        <form action="/users/{{ nick }}/entry/"id="entryPost">
            <div class="grid_2 bottom" id="pes"><p><input value="" name="weight"></p></div>
            <div class="grid_2 bottom" id="dat"><p><input id="datepicker" type="text" name="date"></p></div>
            <div class="grid_2 bottom"><p><input type="submit" value="Log"></p></div>
        </form>
        <script>
            $("#entryPost").submit(function(event) {
                event.preventDefault();
                var $form = $( this ),
                        date = $form.find( 'input[name="date"]' ).val(),
                        weight = $form.find( 'input[name="weight"]' ).val(),
                        variance = $form.find( 'input[name="variance"]' ).val(),
                        url = $form.attr( 'action' );
                var currdt=date.split('/')[2]+'-'+date.split('/')[1]+'-'+date.split('/')[0];
                $.post( url+currdt,{ date: date, weight:weight, variance:variance });
                $.renderEntryList()
                $.drawChart()
            });
        </script>
            <div class="grid_2 "><p></p></div>
            <div class="grid_16 ending"></div>

</div>
</body>
</html>