div.container_16{
    background-color: #D6C274;
}
div.main_content{
    height:290px; width: 860px;
}
div.rounded-corners
{

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.header{
    background-color: #3D2423;
    height: 40px;
    color: #fffbce;

}
div.switcher{
    background-color: #3D2423;
    height: 30px;
    color: #fffbce;
    padding-top: 5px;
    text-align: center;
    font-family:  "oleo script";
    font-size: 1.2em;
    font-variant-caps: all-small-caps;
}
div.entries{
    background-color: #DB9E46;
    padding-top: 4px;
    padding-bottom: 4px;

}
div.gravatar{
    border-style:solid;
    border-width:5px;
    border-color: #3D2423;

}
div.title{
    padding-top: 10px;
    text-align: center;
    font-family:  "oleo script";
    font-size: 1.3em;
}
div.nickname{
    padding-top: 10px;
    text-align: right;
    font-family: "oxygen";
    font-variant-caps: all-small-caps;
    font-size: 0.8em;
}
div.main{
    background-color: #DB9E46;
}
div.logout{
    background-color: #AB362E;
    border-top-right-radius: 10px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-family: "oxygen";
    font-variant-caps: all-small-caps;
    color: #fffbce;
    font-size: 0.8em;
    text-decoration: none;

}





div.h_bgr{
    background-image: url("/static/bgr_top.png");
    background-repeat: repeat-x;
}
#wrapper li{
    height:290px;
    line-height:290px;

}

div.ending{
color: #25706B;
background-color: #3D2423;
    padding-top: 5px;
height: 20px;
font-family: "oxygen";
font-size: 0.6em;
text-align: center;
}
body{
    background-color: #D6C274    ;
}
p.pos{
color: #dd3322;
}
p.neg{
color: #bbff66;

}
p#po{
    color: #dd3322;
    font-family: Arial;
    font-size: 0.9em;

}


p#ne{
    color: #bbe900;
    font-family: Arial;
    font-size: 0.9em;
}
div.data p{
    font-size: 1.2em;
    color: #1f211b;
    font-family: "oxygen"

}
div.data h3{
    font-size: 2.0em;
    color: #1f211b;
    font-family: "Oleo Script"
}
div#placeholdernd{
height:300px;
width:900px;
background-image: url("/static/PlaceholderND.jpg");
background-repeat:  no-repeat;
}

div#placeholderst{
height:300px;
width:900px;
background-image: url("/static/PlaceholderST.jpg");
background-repeat:  no-repeat;
}

div.data{
    width: 100%;
    /*background-image: url("/static/data_bgr.png");*/
    /*background-repeat:  no-repeat;*/
    height:100%;
    text-align: center;
    line-height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #000000;
    background-color: #FFFFFF;
    border-style: solid;

}
div.bottom{


    text-align: center;
    line-height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #000000;
    background-color: #FFFFFF;
    border-style: solid;
    font-size: 0.9em;
    font-family: "oxygen";
}

div.bottom p{
    text-align: center;
}


input.logbutton
{
    font-size:1.8em;
    font-family: "Oleo Script";
    color:#fffbce;
    width:80px;
    height:40px;
    background-color:#AB362E;
    border-style:solid;
    border-color:#fffbce;
}

div.bottom input{
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    text-align: center;
    font-size: 1.0em;
    font-family: "oxygen";
    width: 6em;
}




div#loginLink {
    text-align: right;
}

a.dp-choose-date {
    float: left;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 5px 3px 0;
    display: block;
    text-indent: -2000px;
    overflow: hidden;
}
a.dp-choose-date.dp-disabled {
    background-position: 0 -20px;
    cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
    width: 140px;
    float: left;
}