div.container_16{

}

div.header{

    color: #1f211b
}

div.ending{

}
body{
    background-color: #f7f3cb    ;
}
p.pos{
color: #dd3322;
}
p.neg{
color: #bbff66;

}
p#po{
    color: #dd3322;
    font-family: Arial;
    font-size: 0.9em;

}


p#ne{
    color: #bbe900;
    font-family: Arial;
    font-size: 0.9em;
}
div.data p{
    font-size: 1.2em;
    color: #1f211b;
    font-family: "oxygen"

}
div.data h3{
    font-size: 2.0em;
    color: #1f211b;
    font-family: "Oleo Script"
}
div#placeholdernd{
height:300px;
width:900px;
background-image: url("/static/PlaceholderND.jpg");
background-repeat:  no-repeat;
}

div#placeholderst{
height:300px;
width:900px;
background-image: url("/static/PlaceholderST.jpg");
background-repeat:  no-repeat;
}

div.data{
    width: 100%;
    background-image: url("/static/data_bgr.png");
    background-repeat:  no-repeat;
    height:100%;
    text-align: center;
    line-height: 50%;

}
div.bottom{


    line-height: 20%;
}

div.bottom p{
    text-align: center;
}

div.bottom#alt{
    background-image: url("/static/alt_bgr.png");
}
div.bottom#obj{
    background-image: url("/static/obj_bgr.png");
}
div.bottom#pes{

    background-image: url("/static/pes_bgr.png");
}
div.bottom#pes input:empty{
    background-color: #f7e4b0;
}
div.bottom#dat{
    background-image: url("/static/fec_bgr.png");
}
div.bottom#dat input:empty{
    background-color: #f7e4b0;
}
div.bottom#alt input:empty{
    background-color: #f7e4b0;
}
div.bottom#obj input:empty{
    background-color: #f7e4b0;
}
div.bottom input{
    border: 1px solid #fff;
    text-align: center;
    font-size: 0.9em;
    font-family: "oxygen";
    width: 6em;
}




div#loginLink {
    text-align: right;
}
.del_button {
    -moz-box-shadow:inset 0px 0px 0px 0px #fab3ad;
    -webkit-box-shadow:inset 0px 0px 0px 0px #fab3ad;
    box-shadow:inset 0px 0px 0px 0px #fab3ad;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
    background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
    background-color:#fa665a;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #d83526;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:8px;
    font-weight:bold;
    padding:3px 6px;
    text-decoration:none;
    text-shadow:1px 1px 8px #98231a;
}.del_button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
     background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
     background-color:#d34639;
 }.del_button:active {
      position:relative;
      top:1px;
  }
/* This imageless css button was generated by CSSButtonGenerator.com */

/* This imageless css button was generated by CSSButtonGenerator.com */

/* located in demo.css and creates a little calendar icon
 * instead of a text link for "Choose date"
 */
a.dp-choose-date {
    float: left;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 5px 3px 0;
    display: block;
    text-indent: -2000px;
    overflow: hidden;
}
a.dp-choose-date.dp-disabled {
    background-position: 0 -20px;
    cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
    width: 140px;
    float: left;
}